// .btn {
//   font-size: $fs-btn;
//   font-weight: 600;
//   line-height: 1.5;
//   padding: 0.5rem 1rem;
//   border-radius: 0.25rem;
//   border: 1px solid transparent;
//   cursor: pointer;
//   transition: all 0.2s ease-in-out;
//   text-decoration: none;
//   text-align: center;
//   display: inline-block;
//   vertical-align: middle;
//   user-select: none;
//   white-space: nowrap;
//   background-color: transparent;
//   color: $color-primary;
//   border-color: $color-primary;
//   &:hover {
//     background-color: $color-primary;
//     color: $color-white;
//   }
//   &:focus {
//     outline: none;
//     box-shadow: 0 0 0 0.2rem rgba($color-primary, 0.5);
//   }
//   &:disabled {
//     cursor: not-allowed;
//     opacity: 0.65;
//   }
//   &.btn--primary {
//     background-color: $color-primary;
//     color: $color-white;
//     &:hover {
//       background-color: $color-primary-dark;
//     }
//   }
//   &.btn--secondary {
//     background-color: $color-secondary;
//     color: $color-white;
//     &:hover {
//       background-color: $color-secondary-dark;
//     }
//   }
//   &.btn--success {
//     background-color: $color-success;
//     color: $color-white;
//     &:hover {
//       background-color: $color-success-dark;
//     }
//   }
//   &.btn--danger {
//     background-color: $color-danger;
//     color: $color-white;
//     &:hover {
//       background-color: $color-danger-dark;
//     }
//   }
//   &.btn--warning {
//     background-color: $color-warning;
//     color: $color-white;
//     &:hover {
//       background-color: $color-warning-dark;
//     }
//   }
//   &.btn--info {
//     background-color: $color-info;
//     color: $color-white;
//     &:hover {
//       background-color: $color-info-dark;
//     }
//   }
//   &.btn--light {
//     background-color: $color-light;
//     color: $color-dark;
//     &:hover {
//       background-color: $color-light-dark;
//     }
//   }
//   &.btn--dark {
//     background-color: $color-dark;
//     color: $color-white;
//     &:hover {
//       background-color: $color-dark-dark;
//     }
//   }
// }
.btn {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &.btn--primary {
    background-color: #7e56da;
    color: #fff;

    &:hover {
      background-color: #6b4dbd;
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 0 0.2rem rgba(#7e56da, 0.5);
    }
    &:disabled {
      cursor: not-allowed;
      opacity: 0.65;
    }
  }
}
