//colors
$green: #467e76;
$white: #ffffff;
$red: #a70331;
$light-green: #DCEEEC;
$black: #212121;

$primary-color: #467e76;
$secondary-color: #ffffff;
$terciary-color: #a70331;
$primary-light-color: #DCEEEC;
$black-color: #212121;

//text-colors
$primary-text-color: $green;
$secondary-text-color: $white;
$terciary-text-color: $red;
$quaternary-text-color: $light-green;
$text-color-black: $black;

//background-colors
$primary-background-color: $green;
$secondary-background-color: $white;
$terciary-background-color: $red;
$quaternary-background-color: $light-green;
$background-color-black: $black;
